//- Footer
footer.py-2.bg-dark
    .row.mx-2
        .col-md-4.mt-4
            h6.text-white.mb-4.font-weight-bold 公司信息
            p.small.text-secondary Copyright &copy; 矩阵工场（深圳）信息技术有限公司 2024
            a.small.link-secondary(href="http://www.beian.miit.gov.cn" target="_blank") 粤ICP备20057806号-1
                img(src="assets/gwab-icon.png" alt="")
        .col-md-5
            .row.mt-4
                h6.text-white.mb-4.font-weight-bold 联系方式
                .col-md-8
                    p.small.text-secondary
                        i.bi.bi-house.mr-2 广东省深圳市罗湖区桂园路电影大厦2楼-92
                    p.small.text-secondary
                        i.bi.bi-envelope.mr-2
                            a.text-secondary(href="mailto:contact@matrix.works") contact@matrix.works
                .col-md-4
                    img(src="assets/qrcode_for_matrixworks.jpg" alt="" width="105" weight="105")
        .col-md-3
            .row.mt-4
                h6.text-white.mb-4.font-weight-bold 友情链接
                .col-md-6
                    p
                        a.small.link-secondary(href="https://tushare.pro/" target="_blank") TuShare
                    p
                        a.small.link-secondary(href="http://www.cnnic.net.cn/" target="_blank") 中国互联网信息中心
                    p
                        a.small.link-secondary(href="http://dc.xinhua08.com/" target="_blank") 中国金融信息网
                .col-md-6
                    p
                        a.small.link-secondary(href="https://www.jisilu.cn/" target="_blank") 集思录
                    p
                        a.small.link-secondary(href="https://www.chyxx.com/" target="_blank") 产业信息网
                    p
                        a.small.link-secondary(href="https://data.stats.gov.cn/" target="_blank") 国家数据
