//- Footer
footer.py-2.bg-dark
    .row.m-2.mx-4
        .col
            h6.text-white.mb-4.font-weight-bold Company Information
            p.small.text-secondary Copyright &copy; Matrixworks Information Technology Co., LTD 2024
        .col
            h6.text-white.mb-4.font-weight-bold Contacts
            p.small.text-secondary
                i.bi.bi-house
                span No.92 floor 2 film building Guiyuan Rd. ShenZhen China
            p.small.text-secondary
                i.bi.bi-envelope
                a.text-secondary(href="mailto:contact@matrix.works") contact@matrix.works
        .col
            h6.text-white.mb-4.font-weight-bold Social
            p.small.text-secondary
                i.bi.bi-twitter-x
                a.text-secondary(href="https://x.com/matrixworksio") @matrixworksIO
            p.small.text-secondary
                i.bi.bi-youtube
                a.text-secondary(href="https://youtube.com/matrixworks-io") @matrixworksIO
