// summary of product DIU
header.bg-dark.py-5
    .container.px-5
        .row.gx-5.justify-content-center
            .col-lg-8
                .text-center.my-5
                    h1.display-5.fw-bolder.text-white.mb-2 DIU
                    p.lead.fs-3.text-white-50.mb-4
                        span.fw-bolder DIU
                        span (Data Intelligence and Union)，It is a product and service for
                        span.fw-bolder.badge.bg-danger retrieval
                        span ,
                        span.fw-bolder.badge.bg-warning visualization
                        span ,
                        span.fw-bolder.badge.bg-success trading
                        span and
                        span.fw-bolder.badge.bg-info management
                        span to structured data.
                    .d-grid.gap-3.d-sm-flex.justify-content-sm-center
                        a.btn.btn-primary.btn-lg.px-4.me-sm-3(href='https://diu.matrixworks.cn/' target="_blank") Try the product
