doctype html

html(lang='en')

    head

        include includes/header.pug
        include includes/scripts.pug

    body
        include includes/navbar.pug

        // content
        .container.py-5.px-2.my-5
            p - Matrixworks Information Technology Co., LTD., founded in 2019, is a company focusing on data management, data security and data intelligent search.
            p - Based on technological innovation and engineering reliability, the company provides customers with quality technical implementation and service.
            p - The former main product and service is
                a.link-secondary(href="/") DIU
            br
            p Matrixworks - Make data alive
            br
            p Contact Us:
            p.small.text-secondary
                i.bi.bi-envelope
                a.text-secondary(href="mailto:contact@matrix.works") contact@matrix.works
            p.small.text-secondary
                i.bi.bi-twitter-x
                a.text-secondary(href="https://x.com/matrixworksIO") @matrixworksIO
            p.small.text-secondary
                i.bi.bi-youtube
                a.text-secondary(href="https://youtube.com/matrixworks-io") @matrixworksIO

        .fixed-bottom
            include includes/footer_simple.pug
