doctype html

html(lang='en')

    head

        include includes/header.pug
        include includes/scripts.pug

    body
        include includes/navbar.pug

        // content
        .container.py-5.px-2.my-5
            p - Matrixworks Information Technology Co., LTD., founded in 2019, is a company focusing on data management, data security and data intelligent search.
            p - Based on technological innovation and engineering reliability, the company provides customers with quality technical implementation and service.
            p - The former main product and service is
                a.link-secondary(href="/") DIU
            br
            p Matrixworks - Make data alive

        .fixed-bottom
            include includes/footer_simple.pug
