doctype html
html(lang="zh-CN")

    head

        include includes/header.pug
        include includes/scripts.pug

        include includes/feature_details_tabs.pug
        -
          var tabs = [
            {
              tab_id: "v-pills-search-tab",
              tab_target: "#v-pills-search",
              tab_content_id: "v-pills-search",
              title: "启发式数据检索",
              content: "可根据当前搜索的关键词联想可能的后续关键词，输入的关键词越多联想的关键词越精准",
              is_active: false,
            }, {
              tab_id: "v-pills-graph-tab",
              tab_target: "#v-pills-graph",
              tab_content_id: "v-pills-graph",
              title: "数据图表化和智能编排",
              content: "根据用户的数据搜索意图和搜索结果进行数据图表智能编排，还可以对结果图表进行重新编排",
              is_active: false,
            }, {
              tab_id: "v-pills-sources-tab",
              tab_target: "#v-pills-sources",
              tab_content_id: "v-pills-sources",
              title: "开放式数据源",
              content: "用户可自己上传或连接自己的数据源，支持多种主流数据库，EXCEL/CSV等表格文件和第三方数据API等数据源",
              is_active: false,
            }, {
              tab_id: "v-pills-community-tab",
              tab_target: "#v-pills-community",
              tab_content_id: "v-pills-community",
              title: "数据社区",
              content: "用户可收藏数据查询和数据对象，并将其和其他用户或用户组进行分享",
              is_active: false,
            }, {
              tab_id: "v-pills-saas-tab",
              tab_target: "#v-pills-saas",
              tab_content_id: "v-pills-saas",
              title: "SAAS和私有布署",
              content: "根据用户或客户须求，可选用SAAS模式的服务或进行服务私有布署，对于个人、中小企业或组织可以选择SAAS，它更加高效和经济实惠，" +
              "对于中大型企业或组织，独立私有布署可以提供更高的数据安全性、更好的用户体验和专有的技术服务。",
              is_active: false,
            }, {
              tab_id: "v-pills-market-tab",
              tab_target: "#v-pills-market",
              tab_content_id: "v-pills-market",
              title: "数据发布与交易",
              content: "用户可以上传Excel/CSV等表格类文件到DIU，或者将自己的数据源（数据库，数据API）连接到DIU，并发布到数据市场供其他用户订购使用, " +
              "也可以订购其他用户发布的数据。",
              is_active: false,
            }
          ]

        script.
          function setActiveTab() {
            let tab_id = window.location.hash.substr(1);
            let tab = document.getElementById(tab_id);
            tab.click()
          }

    body(onload="setActiveTab()")

        include includes/navbar.pug

        .container-fluid.py-5.px-2.my-5
            + feature_details_tabs(tabs)

        .fixed-bottom
            include includes/footer_simple.pug
