doctype html
html(lang="en")

    head

        include includes/header.pug
        include includes/scripts.pug

        include includes/feature_details_tabs.pug
        -
          var tabs = [
            {
              tab_id: "v-pills-search-tab",
              tab_target: "#v-pills-search",
              tab_content_id: "v-pills-search",
              title: "Heuristic data retrieval",
              contents: [
                "Association of possible subsequent keywords according to the current search keyword, the more keywords entered, the more accurate the association keyword," +
                    "Reduce the burden of users memorizing data keywords, and greatly improve the efficiency of data retrieval.",
                "Use simple logic operations (e.g. =, >, <) and time filtering (e.g. \"2021\" year refers to data from 2021 only, \"2010-06 today\" means data from June 2010 to the current day).",
                "User data retrieval memory function, DIU can dynamically change the data weight according to the user retrieval record, so as to retrieve the user's desired data more quickly.",
                "For data results association toolbar, you can associate different toolbars for different categories of data retrieval results, so that it is easier to re-filter data."
              ],
              figures: [
                {source: "assets/images/instant_search.png"}
              ],
              is_active: false,
            }, {
              tab_id: "v-pills-graph-tab",
              tab_target: "#v-pills-graph",
              tab_content_id: "v-pills-graph",
              title: "Data charting and intelligent arrangement",
              contents: ["According to the user's data search intention and search results to arrange data chart intelligently, " +
              "Automatically recognizes the results of the retrieval as time series data, grouped data, tabular data, or other data, and displays them using the corresponding graph. " +
              "The results of different properties of the same data object or the same properties of different objects are arranged in the same chart, and the related data charts are juxtaposed. " +
              "The resulting chart can be rearranged by dragging and dropping."
              ],
              figures: [
                {source: "assets/images/result_arrange_ts.png"},
                {source: "assets/images/result_arrange_ratio.png"}
              ],
              is_active: false,
            }, {
              tab_id: "v-pills-sources-tab",
              tab_target: "#v-pills-sources",
              tab_content_id: "v-pills-sources",
              title: "Open data source",
              contents: [
                "Users can upload or connect their own data sources, support a variety of mainstream databases, EXCEL/CSV and other table files and third-party data apis and other data sources."
              ],
              figures: [
                {source: "assets/images/diu_features_opendatasource.svg", width: "80%", height: "80%"}
              ],
              is_active: false,
            }, {
              tab_id: "v-pills-community-tab",
              tab_target: "#v-pills-community",
              tab_content_id: "v-pills-community",
              title: "Data community",
              contents: [
                "DIU supports user group management. Users can create or join groups.",
                "Users can save data queries and data objects, and share them with other users or groups, and users who receive the share can reuse the search statements written by other users."
              ],
              figures: [
                {source: "assets/images/diu_features_data_community.svg"}
              ],
              is_active: false,
            }, {
              tab_id: "v-pills-saas-tab",
              tab_target: "#v-pills-saas",
              tab_content_id: "v-pills-saas",
              title: "SAAS and Private deployment",
              contents: [
                "According to the requirements of users or customers, SAAS model services can be selected or private deployment of services, for individuals, small and medium-sized enterprises or organizations can choose SAAS, which is more efficient and cost-effective.",
                "For medium and large enterprises or organizations, independent private deployment can provide higher data security, better user experience, and proprietary technical support."
              ],
              figures: [
                {source: "assets/images/diu_features_deployment_saas.svg", width: "80%", height: "80%"},
                {source: "assets/images/diu_features_deployment_private.svg", width: "80%", height: "80%"}
              ],
              is_active: false,
            }, {
              tab_id: "v-pills-market-tab",
              tab_target: "#v-pills-market",
              tab_content_id: "v-pills-market",
              title: "Data Publishing and Subscribing",
              contents: [
                "Users can upload structured data files such as Excel/CSV to DIU, or connect their own data sources (databases, data apis) to DIU, and publish to the data market for other users to order, and ordering data published by other users."
              ],
              figures: [
                {source: "assets/images/diu_features_publishing_subscribing.svg"}
              ],
              is_active: false,
            }
          ]

        script.
            function setActiveTab() {
                // set the first tab as default active tab
                let tab_id = window.location.hash.substr(1);
                let tab = document.getElementById(tab_id);
                tab.click()
            }

    body(onload="setActiveTab()")

        include includes/navbar.pug

        .container-fluid.py-5.px-2.my-5
            + feature_details_tabs(tabs)

        .bottom
            include includes/footer_simple.pug
