doctype html
html(lang="zh-CN")

    head

        include includes/header.pug
        include includes/scripts.pug

    body

        include includes/navbar.pug

        // summary of product DIU
        include includes/summary.pug

        include includes/feature_summary.pug
        -
          const summaries = [
            {
              title: "启发式数据检索",
              summary: "可根据当前搜索的关键词联想后续搜索关键词，并支持简单的逻辑运算进行数据过滤",
              icon: "bi bi-search",
              details_link: "feature_details.html#v-pills-search-tab",
            }, {
              title: "数据图表化和智能编排",
              summary: "根据用户的数据搜索意图和搜索结果进行数据图表智能编排",
              icon: "bi bi-bar-chart",
              details_link: "feature_details.html#v-pills-graph-tab",
            }, {
              title: "开放式数据源",
              summary: "用户可自己上传或连接自己的数据源，支持多种数据库，EXCEL/CSV等表格文件和第三方数据API等数据源",
              icon: "bi bi-server",
              details_link: "feature_details.html#v-pills-sources-tab",
            }, {
              title: "数据社区",
              summary: "用户可收藏数据查询和数据对象，并将其和其他用户或用户组进行分享",
              icon: "bi bi-people",
              details_link: "feature_details.html#v-pills-community-tab",
            }, {
              title: "SAAS和私有布署",
              summary: "根据用户或客户须求，可选用SAAS模式的服务或进行服务私有布署",
              icon: "bi bi-hdd-stack",
              details_link: "feature_details.html#v-pills-saas-tab",
            }, {
              title: "数据发布与交易",
              summary: "用户可上传或连接到自己的数据源，并发布到数据市场, 也可以订购其他用户发布的数据",
              icon: "bi bi-shop-window",
              //icon_bg_color: "bg-success",
              //icon_color: "text-danger",
              details_link: "feature_details.html#v-pills-market-tab",
            }
          ]

        // Features section
        section#features.py-5.border-bottom
            .container.px-5.my-5
                .row.gx-5
                    each item in summaries
                        - let icon_bg_color = item.icon_bg_color || "bg-primary"
                        - let icon_color = item.icon_color || "text-white"
                        + feature_summary(item.title, item.summary, item.icon, icon_bg_color, icon_color, item.details_link)

        include includes/application_scenario.pug
        -
          const scenarios = [
            {
              title: "面向个人、中小企业或组织的数据管理",
              contents: [
                "个人、中小企业或组织主要以Excel文件为主，此数据的管理形式是数据的分散性、离线性、文档版本混乱等特点，随着时间的推移越难管理，" +
                  "导致经常在数据使用中使用了错误的或不一致的数据。" +
                  "DIU可以对这些结构化数据文件进行统一的管理，给它们建立索引，并且可在线智能查询、查看数据，并且查询的结果可以进行图表化显示。" ,
                "用户可以通过DIU的客户端软件便捷地上传Excel/CSV文档，DIU会对这些文件进行保存、分析并且生成索引数据。" +
                  "DIU也可以对Word、PDF文件中的表格数据进行提取并上述处理。对于重复的或部份重复的文档会对其去重和归并，以及进行历史版本管理。",
                "DIU并不是用来代替Excel的，而是对大量Excel文档进行后期管理，包括数据的权限管理，以及线上查询、发布和分享。"
              ],
              covers: ["assets/images/file_table_data.png"],
              cover_position: "left",
            }, {
              title: "大型公司、企业集团和政府部门数据的归集管理",
              contents: [
                "随着时行的推移，大型公司、企业集团等的IT系统越来越多，各自IT系统中数据库以及数据展示系统各自独立分离，" +
                  "难以对它们的数据进行统一的对比、检索、统计分析和图表化展示。" +
                  "使用DIU可以对不同的IT数据库进行统一的归集管理、数据智能查询和数据图表化显示。",
                "支持主流的数据库，如MySQL、PostgreSQL、Oracle、SQLServer，其它数据库可应客户要求定制开发"
              ],
              covers: ["assets/images/db_table_data.png"],
              cover_position: "right",
            }, {
              title: "从事于数据处理的公司或开发者",
              contents: [
                "对于那些专注于数据挖掘、大数据处理等数据处理的公司或开发者，可以使用DIU对他们的数据进行管理，" +
                "从而减小他们对这些非核心系统的研发投入，并且可以将数据发布到数据市场，" +
                "以及和其他数据开发者或使用者进行数据分享和交流。"
              ],
              covers: ["assets/images/for_data_developer.png"],
              cover_position: "left",
            }, {
              title: "行业、产业和社会公共数据的发布和交易",
              contents: [
                "DIU 可为行业、产业数据拥有者提供面向数据使用者的数据发布、检索、可视化等数据便捷性、智能化使用功能，" +
                  "数据提供者只需专注于行业、产业等数据的采集和清洗等核心功能。",
                "DIU 支持以数据库、数据 API、Excel/CSV 等形式的数据源。",
                "DIU 的独立私有布署方式可使数据拥有者完全自主的控制自己的数据。",
                "数据拥有者可以将数据发布到 DIU 的数据市场进行交易。",
                "更加精准数据检索，使数据需求者更容易找到数据发布者的数据。"
              ],
              covers: ["assets/images/industrial_data.png"],
              cover_position: "right",
            }, {
              title: "金融、宏观经济等其它社会共公数据",
              contents: [
                "对于投资机构、个人投资者、经济或社会科研人员等，可以通过DIU对各种不同数据源的数据归集，大幅提高数据使用效率，" +
                  "并且可以将自己研究所得的数据进行线上分享或发布到数据市场供其他人订购。",
                "数据发布机构可以使用 DIU 代替以往在官网以网页或 Excel 文档形式的数据发布，可避免在网站的层层链接中寻找发布的数据。",
                "可以通过 DIU 的 PC 客户端软件快速、便捷地上传数据文档。"
              ],
              covers: ["assets/images/for_finance.png"],
              cover_position: "left",
            }, {
              title: "DIU与相似产品的功能对比",
              contents: [
              ],
              covers: ["assets/images/diu_compares_with_others.png"],
              cover_position: "top",
            }
          ]

        // application scenarios section
        section.bg-light.py-2.border-bottom
            .container.px-5.my-5
                .text-center.mb-5
                    h3.fw-bolder 应用场景
                .row.gx-5.justify-content-center
                    each item in scenarios
                      + application_scenario(item.title, item.contents, item.covers, item.cover_position)

        include includes/footer.pug
