doctype html
html(lang="en")

    head

        include includes/header.pug
        include includes/scripts.pug

    body

        include includes/navbar.pug

        // summary of product DIU
        include includes/summary.pug

        include includes/feature_summary.pug
        -
          const summaries = [
            {
              title: "Heuristic retrieval",
              summary: "It can associate subsequent search keywords according to the current search keywords, and supports simple logical operations for data filtering",
              icon: "bi bi-search",
              details_link: "feature_details.html#v-pills-search-tab",
            }, {
              title: "Data charting and intelligent arrangement",
              summary: "According to the user's data search intention and search results, to arrange data chart intelligently",
              icon: "bi bi-bar-chart",
              details_link: "feature_details.html#v-pills-graph-tab",
            }, {
              title: "Open data source",
              summary: "Users can upload or connect their own data sources, support a variety of databases, EXCEL/CSV/PDF table files and third-party data APIs data sources",
              icon: "bi bi-server",
              details_link: "feature_details.html#v-pills-sources-tab",
            }, {
              title: "Data community",
              summary: "Users can bookmark data queries and data objects and share them with other users or groups",
              icon: "bi bi-people",
              details_link: "feature_details.html#v-pills-community-tab",
            }, {
              title: "SAAS and Private deployment",
              summary: "According to the requirements of users or customers, you can choose a SAAS model of service or service private deployment",
              icon: "bi bi-hdd-stack",
              details_link: "feature_details.html#v-pills-saas-tab",
            }, {
              title: "Data publishing and subscribing",
              summary: "Users can upload or connect to their own data sources and publish to the data marketplace, and can also order data published by other users",
              icon: "bi bi-shop-window",
              details_link: "feature_details.html#v-pills-market-tab",
            }
          ]

        // Features section
        section#features.py-5.border-bottom
            .container.px-5.my-5
                .row.gx-5
                    each item in summaries
                        + feature_summary(item.title, item.summary, item.icon, item.details_link)

        include includes/application_scenario.pug
        -
          const scenarios = [
            {
              title: "Data management for individuals, smes and organizations",
              contents: [
                "Individuals, small and medium-sized enterprises or organizations mainly use Excel files. " +
                "The management of these data are characterized by the dispersion, linearity, and confusion of document versions. " +
                "As time goes by, incorrect or inconsistent data is often used in the use of data." +
                  "DIU can manage these structured data files in a unified manner, build indexes for them, and can query and view data intelligently online, and the query results can be displayed graphically." ,
                "Users can easily upload Excel/CSV files through DIU client software, and DIU will save, analyze and generate index data for these files." +
                  "DIU can also extract and process the table data in Word and PDF files. Duplicate or partially duplicate documents are de-duplicated and merged, as well as historical version management.",
                "DIU is not used to replace Excel, but to perform post-management for a large number of Excel documents, including permission management of data, as well as online query, publishing and sharing."
              ],
              cover: "assets/images/file_table_data.png",
              cover_position: "left",
            }, {
              title: "Data collection and management of large companies, enterprise groups and government departments",
              contents: [
                "With the passage of time, there are more and more IT systems of large companies and enterprise groups, and the databases and data display systems in their respective IT systems are independent and separate, " +
                  "It is difficult to make unified comparison, retrieval, statistical analysis and graphical presentation of their data." +
                  "Using DIU, different IT databases can be unified collection management, data intelligent query and data graphical display.",
                "Support mainstream databases, such as MySQL, PostgreSQL, Oracle, SQLServer, other databases can be customized according to customer requirements"
              ],
              cover: "assets/images/db_table_data.png",
              cover_position: "right",
            }, {
              title: "The companies or developers engaged in data processing",
              contents: [
                "For those companies or developers who focus on data processing such as data mining and big data processing, they can use DIU to manage their data." +
                "So they can reduce their R&D investment in these non-core systems and release the data to the data marketplace," +
                "And share and communicate with other data developers or users."
              ],
              cover: "assets/images/for_data_developer.png",
              cover_position: "left",
            }, {
              title: "Publishing and subscribing of public data for industry and society",
              contents: [
                "DIU can provide industry and industrial data owners with data publishing, retrieval, visualization and using data conveniently and intelligently for data users." +
                  "Data providers only need to focus on core functions such as collection and cleaning of industry and other data.",
                "DIU supports data sources in the form of databases, data APIs, Excel/CSV, etc.",
                "DIU's independent private distribution gives data owners complete control over their own data.",
                "Data owners can publish data to DIU's data marketplace for subscribing.",
                "More accurate data retrieval makes it easier for data demanders to find data from data publishers."
              ],
              cover: "assets/images/industrial_data.png",
              cover_position: "right",
            }, {
              title: "Financial, macroeconomic and social public data",
              contents: [
                "For investment institutions, individual investors, economic or social researchers, etc., the DIU can collect data from a variety of different data sources to greatly improve the efficiency of data using, " +
                  "And they can share their research data online or publish it to the data marketplace for others to order.",
                "Data publishing organizations can use DIU to replace the previous data release in the form of web pages or Excel documents on the official website, which can avoid searching for published data in the layers of links on the website.",
                "Data files can be uploaded quickly and easily through DIU's PC client software."
              ],
              cover: "assets/images/for_finance.png",
              cover_position: "left",
            }
          ]

        // application scenarios section
        section.bg-light.py-2.border-bottom
            .container.px-5.my-5
                .text-center.mb-5
                    h3.fw-bolder Application scenarios
                .row.gx-5.justify-content-center
                    each item in scenarios
                      + application_scenario(item.title, item.contents, item.cover, item.cover_position)

        include includes/footer.pug
